# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse
.classpath
.project
.metadata
.settings

# VSCode
.vscode

# Build Stuff
*.jar
gson-*.jar
/bin

# Cached optimizations
/cache

# Flags for optimizations
/flags

# Application log files
*.log

# Test artifacts
testCleanupScriptFile

# Log file
java.log

# Java dumps
*.hprof