# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse
.classpath
.project
.metadata
.settings

# Build Stuff
*.jar
gson-*.jar
/bin

# Cached optimizations
/cache

# Application log files
*.log

# Configs
estimated-time-config.json

# Test artifacts
testCleanupScriptFile

# Log file
java.log